body{
    background-color:#fff4c4;
}


.header {
  background:#4b504b;
  color: white;
  padding: 60px 30px;
  text-align: center;
  font-size: 60px;
  line-height: 0px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  p{
    font-size: 75px
  }
}

.container {
  display: flex;
  gap: 20px;
}

#navMenu {
  display: none;
}

.text{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
    text-align:justify;
    line-height:1.5px;
    max-width: 400px;
    margin-right: 0px;
    p{
      line-height:32.5px;
      font-size:30px;
    }
}

.testo{
  display: flex;
  flex-wrap: wrap;
      text-align:justify;
      line-height:2.5;
      max-width:800px;
      margin-left:350px;
      h1{
        text-align:center;
      }
      p{
        line-height:32.5px;
        font-size:30px;
      }
}
img{
  width: 1000px;
  height: 500px;
}
@media (max-width: 768px){
  .container{
    flex-direction: column;
  }
  .text{
    flex-direction:column;
  }
  .header{
    h1{
      font-size:32px;
    }
    p{
      font-size:32px;
    }
  }
}
