body{
  background-color:white;
}
.header {
  background:#4b504b;
  color: white;
  padding: 60px 30px;
  text-align: center;
  font-size: 60px;
  width:100%;
  line-height: 1.2;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}
#search {
  display: block;
  margin: 20px auto;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
#menuBtn {
  font-size: 30px;
  padding: 10px 15px;  
  border: none;
  background: none;
  cursor: pointer;
}
.menu{
  width:100%;
  height: auto;
}
.header p{
  font-size: 75px;
}

.container {
  display: flex;
  gap: 20px;
}

.text{
  text-align:justify;
  line-height:1.5;
  width:100%;
}

.text p{
  line-height:1.6;
  font-size:30px;
}

.testo{
  text-align:justify;
  line-height:1.6;
  width:100%;
  margin-left:0;
}

.testo p{
  font-size:30px;
}
.testo li{
  font-size:30px;
}

.img{
  width: 100%;
  height: auto;
  display:block;
}
#navMenu {
  display: none;
}
@media (max-width: 768px){
  .menu{
    flex-direction:column;
  }
  .container{
    flex-direction: column;
  }
  #search{
    flex-direction:column;
  }
  .text p,
  .testo li,
  .testo p{
    font-size:15px;
  }
  .header h1,
  .header p{
    font-size:32px;
  }
}